.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    /* background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px; */
  }

  .text-center {
      text-align: center;
  }

  .news-container label{
      padding: 30px;;
  }

  .asach {
    border: solid 2px #1060ec;
    border-top: none;
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: 40%;
    /* z-index: 999; */
    text-align: left;
    background: #ffffff;
    left: 395px;
    overflow: scroll;
  }

  input {
    background: #ffffff;
    border: 1px solid #777777;
    border-radius: 4px;
    width: 36%;
    height: 26px;
    line-height: 24px;
    padding: 0 10px;
  }

  li {
      padding: 10px;
      cursor: pointer;
  }